#top {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-position: right;
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	float: left;
	margin: 20px 0 10px 50px;
}
   /*头部结束*/

#content{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.p1{
	font-size: 24px;
    color: #ca0b03;
    margin: 30px 0 25px 300px;	
}
.box{
	background-color: #f8f9fb;
	width: 670px;
	overflow: hidden;
    border-radius: 3px;
    /*margin-bottom: 100px;*/
    border-top: 10px solid #ca0b03;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.box ul{
	margin-top: 35px;
}
.box li{
	/*width:436px;*/
	margin:0 auto ;
	/*display: block;*/
	position: relative;
}
.box li input {
    width: 376px;
    border: 2px solid #b9babe;
    height: 50px;
    border-radius: 4px;
    padding-left: 60px;
    line-height: 54px;
    
    min-height: 1px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    margin: 20px 0px;
}
.box li p{
	position: absolute;
    width: 50px;
    height: 54px;
    left:-2px;
}
.pa{
    top: 3px;
    /*left:415px;*/
    background: url(../img/12.jpg) no-repeat ; 
    /*background-color: red;*/
}
.pb{
	top: 3px; 
    background: url(../img/powss.jpg) no-repeat ;
    /*background-color: red;*/ 
}
#btn{
	width: 436px; 
    background-color: #af2d2d;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0;
    height: 47px;
    line-height: 47px;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
}
#btn:hover{
	background: #cd3333;
}
.box li a{
	color: #0066ff;
	font-size: 16px;
	line-height: 28px;
	padding-left: 20px;
}
.box li a:hover{
	text-decoration: underline;
}
.box ul li:last-child{
	border-bottom: 2px solid #e5e4e2;
	text-align: right;
	margin:0  120px;
	padding-bottom: 20px;
}
.box p{
	margin:20px 0 10px 0;
	color: #000;
	font-size: 14px;
	text-align: left;
	margin-left: 120px;
}
		/*content结束*/

#footer{
	width: 100%;
	overflow: hidden;
	background: #e1e1e1;
	margin: 0 auto;
    
}
#footer p{
	font-size: 16px;
	line-height: 65px;
	margin-left: 300px;
	color: #808080;
}
