#top {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: url(../img/small icon.png);
	background-position: right;

	/*padding-bottom: 10px;*/
	border-bottom: 1px solid #e5e5e5;
}

.logo {
	float: left;
	margin: 35px 35px 0 15px;
}

.nav {
	float: left;
	margin-top: 40px;
}

.nav li {
	float: left;
	padding-right: 15px;
	font-size: 16px;
	/*padding-bottom: 12px;*/
	position: relative;
}

.nav li a{
	padding-bottom: 14px;
}

.nav li a:hover {
	color: #e22835;
	border-bottom: 2px solid #cb3034;
}

.nav .li1 {
	/*position: relative;
	padding: 0 13px;
	background-color: #eeeeee;
	padding: 10px 20px 10px 15px;
	/*line-height: 40px;
	margin-right: 10px;
	
	border: 1px solid #eeeeee;
	border-radius: 5px;*/
	display: block;
    float: left;
    padding: 0 13px;
    margin-top: -10px;
    position: relative;
}

.nav .li1 a{
    box-sizing: border-box;
    color: #323232;
    cursor: pointer;
    display: block;
    height: 46px;
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: .3s border-color,.3s color;
}
.nav .li1 a i{
	background: url(../img/small_icon.png) no-repeat -103px -81px;
	position: absolute;
	display: block;
    width: 14px;
    height: 14px;
    top: 12px;
    left: 14px;
}
.nav .li1 a span{
	border-radius: 5px;
    background-color: #eee;
    padding-left: 36px;
    padding-right: 18px;
    display: block;
}
	
.nav .li1 a:hover span {
	background-color: #b02d2e;
	color: #FFF;
}
.nav .li1 a:hover i{
	background: url(../img/small_icon.png) no-repeat -103px -112px;
}
   			/*选项卡开始*/
.y{
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
	display: none; 
}
.y ul{
	float: left;
	width: 277px;
	padding: 30px 10px;
	margin-right: 5px;
}
.y ul:first-child{
	margin-left: 50px;
}
.y ul li:first-child{
	float: left;
}
.y ul li{
	padding:5px 0;
	margin-right: 15px;
	display: block;
}
.y ul li a{
	font-size: 16px;
}
.y ul:hover{
	background-color: #e5e5e5;
}
.y ul li a:hover{
	text-decoration: underline;
	color: #006ad0;
}
.y ul li:last-child{
	padding: 0 20px;
	margin-top: 10px;
}
.y ul li:last-child a{
	padding: 5px 0;
}
.y ul li:last-child a:hover{
	background-color: red;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}
.y ul li:last-child .a1:hover{
	background: none;
	color:#006ad0;
	text-decoration: underline;
}

.g{
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
	display: none; 
}
.g ul{
	float: left;
	width: 180px;
	padding: 30px 10px;
	margin-right: 5px;
}
}
.g ul:first-child{
	margin-left: 50px;
	text-align: center;
}
.g ul li{
	padding:5px 0;
	text-align: center;
}
.g ul li a{
	font-size: 16px;
}
.g ul li:first-child a{
	font-size: 20px;
	color: red;
}
.g ul:hover{
	background-color: #e5e5e5;
}
.g ul li:nth-child(3) a:hover{
	color: #006ad0;
}
.g ul li:last-child{
	margin-top: 10px;
}
.g ul li:last-child a{
	padding: 5px 0;
}
.g ul li:last-child a:hover{
	background-color: red;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.h{
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
	display: none; 
}
.h ul{
	float: left;
	width: 220px;
	padding: 30px 5px;
	margin-right: 5px;
	height: 355px;
}
}
.h .ul1{
	margin-left: 50px;
	/*text-align: center;*/
}
.h ul li{
	padding-top:5px;
	text-align: left;
	margin: 5px 0;
}
.h ul li:first-child a{
	font-size: 20px;
	color: red;
}
.h ul:hover{
	background-color: #e5e5e5;
}
.h ul li a:hover{
	text-decoration: underline;
	color: #006ad0;
}
.h ul li:first-child{
	margin-bottom: 10px;
	}
.h ul li:first-child a:hover{
	text-decoration: none;
	color: red;
}
.h ul li:last-child a{
	padding: 5px 0;
}
.h ul li:last-child a:hover{
	background-color: red;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}
.h ul li:last-child .a2:hover{
	background: none;
	color:#006ad0;
	text-decoration: underline;
}

   /*选项卡结束*/
.b{
	float: right;
	margin-right: 15px;
}
.b .head{
	
	margin-top: 13px;
	
}

.b .head li{
	float: left;
	padding-left: 25px;
}
.b .head li a:hover{
	text-decoration: underline;
	color: #006ad0;
}
.b .search{
	float: right;
	height: 40px;
    position: relative;
    margin-right: 35px;
}
.b .search a{
	width: 40px;
    height: 56px;
}
.b .search a i{
	background: url(../img/small_icon.png) no-repeat -39px -70px;
	position: absolute;
	display: block;
    width: 25px;
    height: 25px;
    content: "";
    top: 8px;
    left: 8px;
}
.b .search a i:hover{
	background: url(../img/small_icon.png) no-repeat -39px -105px;
}
            /**/
#lunbo{
	width: 1263px;
	height: 540px;
}