#top {
  width: 100%;
  height: 30px;
  line-height: 29px;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  z-index: 421;
  margin: 0 auto; }
  #top .div1 {
    float: left;
    margin-left: 20px; }
  #top .div2 {
    float: right;
    margin-right: 30px; }
  #top div li {
    float: left;
    padding: 0 10px; }
    #top div li a {
      color: #8c8c8c;
      border-right: solid 1px #8C8C8C;
      padding-right: 10px; }
      #top div li a:hover {
        color: #ca151e; }
      #top div li a span {
        background: url(../img/sprites3.png) no-repeat;
        top: 50%;
        margin-left: 5px;
        width: 7px;
        height: 4px;
        display: inline-block;
        background-position: -34px 0;
        margin: 0 5px 0 10px; }
  #top div .li1 {
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px; }
    #top div .li1 .ul1 {
      width: 90px;
      height: 106px;
      display: none;
      position: absolute;
      left: -10px;
      right: 0;
      top: 29px;
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid #ededed;
      border-top-color: #fff; }
      #top div .li1 .ul1 li {
        float: none; }
        #top div .li1 .ul1 li a {
          color: #8c8c8c;
          font-size: 12px;
          border: none; }
          #top div .li1 .ul1 li a:hover {
            color: #ca151e; }
    #top div .li1:hover .ul1 {
      display: block; }
    #top div .li1:hover a {
      color: #ca151e; }
      #top div .li1:hover a span {
        background: url(../img/sprites3.png) no-repeat 0px 0px;
        width: 7px;
        height: 4px; }

#head {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
  z-index: 421;
  margin: 0 auto; }
  #head .logo {
    float: left;
    margin-left: 20px; }

#nav {
  width: 100%;
  height: 40px;
  background-color: #3a3a3a;
  z-index: 421;
  margin: 0 auto; }
  #nav li {
    float: left;
    padding: 0 20px; }
    #nav li a {
      line-height: 40px;
      height: 40px;
      font-size: 14px;
      color: #FFF;
      padding-left: 16px; }
  #nav .li2 {
    margin-left: 20px;
    background-color: #c81118;
    width: 200px;
    font-size: 14px;
    color: #FFF;
    line-height: 40px;
    height: 40px;
    position: relative; }
    #nav .li2:hover {
      background: #c81118; }
    #nav .li2 .na1 {
      width: 240px;
      height: 450px;
      position: absolute;
      background-color: #fff;
      border-top: 0 none;
      font-size: 0;
      left: 0px; }
      #nav .li2 .na1 ul {
        height: 64px; }
        #nav .li2 .na1 ul li {
          float: none;
          text-align: left;
          position: relative;
          padding: 0;
          line-height: 20px; }
          #nav .li2 .na1 ul li h3 {
            height: 20px; }
            #nav .li2 .na1 ul li h3 a {
              color: #333; }
          #nav .li2 .na1 ul li a {
            color: #8c8c8c; }
            #nav .li2 .na1 ul li a:hover {
              color: #ca151e; }
        #nav .li2 .na1 ul:hover {
          background-color: #f7f7f7; }
          #nav .li2 .na1 ul:hover .na2 {
            display: block; }
        #nav .li2 .na1 ul .na2 {
          display: none;
          position: absolute;
          left: 240px;
          height: 450px;
          background-color: #f7f7f7;
          top: 0;
          width: 440px; }
          #nav .li2 .na1 ul .na2 ul li {
            width: 220px;
            padding: 0 20px; }
            #nav .li2 .na1 ul .na2 ul li a {
              color: #333; }
            #nav .li2 .na1 ul .na2 ul li:hover {
              background: #eee; }
              #nav .li2 .na1 ul .na2 ul li:hover a {
                color: #ca151e; }
          #nav .li2 .na1 ul .na2 dl {
            margin-left: 255px;
            margin-right: 50px; }
            #nav .li2 .na1 ul .na2 dl dt {
              text-align: center;
              background-position: 0 50%;
              height: 22px;
              line-height: 0px;
              background: url("../img/bg63.png") scroll repeat-x; }
              #nav .li2 .na1 ul .na2 dl dt span {
                color: #8c8c8c;
                text-align: center; }
            #nav .li2 .na1 ul .na2 dl dd a {
              color: #333;
              line-height: 20px; }

#lunbo {
  width: 1263px;
  height: 450px;
  margin: 0 auto; }

#content {
  width: 100%;
  overflow: hidden;
  background-color: #F5F5F5;
  z-index: 421;
  margin: 0 auto; }
  #content .c1 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto; }
    #content .c1 ul {
      margin-top: 10px; }
      #content .c1 ul li {
        float: left;
        margin-left: 20px; }
  #content .c2 {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; }
    #content .c2 .c2_l {
      float: left;
      margin-left: 20px;
      position: relative; }
    #content .c2 h2 {
      color: #3a3a3a;
      font-size: 22px;
      padding: 30px 0 15px 0;
      line-height: 1;
      margin-left: 20px; }
    #content .c2 .c2_r {
      float: right;
      width: 968px;
      margin-left: 5px; }
      #content .c2 .c2_r ul {
        float: left;
        background: #FFF;
        margin-bottom: 10px;
        margin-left: 10px;
        position: relative;
        -webkit-transition: all .2s linear 0s;
        -moz-transition: all .2s linear 0s;
        -ms-transition: all .2s linear 0s;
        -o-transition: all .2s linear 0s;
        transition: all .2s linear 0s;
        width: 232px;
        height: 290px;
        z-index: 1;
        text-align: center; }
        #content .c2 .c2_r ul li img {
          width: 134px;
          height: 134px;
          margin: 30px 0; }
        #content .c2 .c2_r ul li h3 {
          font-weight: 400;
          margin: 16px 20px 2px;
          overflow: hidden;
          color: #3a3a3a;
          display: table-cell;
          vertical-align: bottom;
          width: 259px;
          padding-left: 16px;
          padding-right: 16px; }
        #content .c2 .c2_r ul .lia {
          font-size: 12px;
          font-weight: 400;
          margin: 2px 20px 6px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #a4a4a4; }
        #content .c2 .c2_r ul .lib {
          font-size: 14px;
          font-weight: 400;
          margin: 0 20px 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #cc0e11; }
        #content .c2 .c2_r ul:hover {
          -webkit-transform: translateY(-3px);
          -moz-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
          -o-transform: translateY(-3px);
          transform: translateY(-3px); }
      #content .c2 .c2_r .ul2 {
        position: relative; }
        #content .c2 .c2_r .ul2 p {
          position: absolute;
          width: 60px;
          height: 60px;
          right: 40px;
          top: 120px;
          z-index: 2; }

.c3, .c9, .c11, .c13 {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative; }
  .c3 h2, .c9 h2, .c11 h2, .c13 h2 {
    color: #3a3a3a;
    font-size: 22px;
    padding: 30px 0 15px 0;
    line-height: 1;
    margin-left: 20px; }
  .c3 .c3_a, .c9 .c3_a, .c11 .c3_a, .c13 .c3_a {
    width: 9999px;
    height: 290px;
    position: relative;
    left: 0px; }
    .c3 .c3_a ul, .c9 .c3_a ul, .c11 .c3_a ul, .c13 .c3_a ul {
      float: left;
      background: #FFF;
      margin-left: 5px;
      -webkit-transition: all .2s linear 0s;
      -moz-transition: all .2s linear 0s;
      -ms-transition: all .2s linear 0s;
      -o-transition: all .2s linear 0s;
      transition: all .2s linear 0s;
      width: 217px;
      height: 290px;
      z-index: 1;
      text-align: center; }
      .c3 .c3_a ul li img, .c9 .c3_a ul li img, .c11 .c3_a ul li img, .c13 .c3_a ul li img {
        width: 134px;
        height: 134px;
        margin: 30px 0; }
      .c3 .c3_a ul li h3, .c9 .c3_a ul li h3, .c11 .c3_a ul li h3, .c13 .c3_a ul li h3 {
        font-weight: 400;
        margin: 16px 20px 2px;
        overflow: hidden;
        color: #3a3a3a;
        display: table-cell;
        vertical-align: bottom;
        width: 259px;
        padding-left: 16px;
        padding-right: 16px; }
      .c3 .c3_a ul .lia, .c9 .c3_a ul .lia, .c11 .c3_a ul .lia, .c13 .c3_a ul .lia {
        font-size: 12px;
        font-weight: 400;
        margin: 2px 20px 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #a4a4a4; }
      .c3 .c3_a ul .lib, .c9 .c3_a ul .lib, .c11 .c3_a ul .lib, .c13 .c3_a ul .lib {
        font-size: 14px;
        font-weight: 400;
        margin: 0 20px 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #cc0e11; }
      .c3 .c3_a ul:hover, .c9 .c3_a ul:hover, .c11 .c3_a ul:hover, .c13 .c3_a ul:hover {
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px); }

.box {
  overflow: hidden;
  margin-left: 20px;
  width: 100%; }

#prev, #next, #prev1, #next1, #prev2, #next2, #prev3, #next3 {
  width: 23px;
  height: 75px;
  line-height: 75px;
  color: #fff;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  text-align: center;
  text-decoration: none;
  z-index: 999; }
  #prev span, #next span, #prev1 span, #next1 span, #prev2 span, #next2 span, #prev3 span, #next3 span {
    display: block;
    margin: 28px auto;
    height: 16px;
    width: 11px; }

#prev, #prev1, #prev2, #prev3 {
  left: 25px; }
  #prev span, #prev1 span, #prev2 span, #prev3 span {
    background: url(../img/icon2.png) scroll no-repeat;
    background-position: -71px 0; }

#next, #next1, #next2, #next3 {
  right: 0px; }
  #next span, #next1 span, #next2 span, #next3 span {
    background: url(../img/icon2.png) scroll no-repeat;
    background-position: -82px 0; }

.c4, .c14 {
  width: 100%;
  margin: 0 20px;
  padding-top: 30px; }
  .c4 img, .c14 img {
    width: 100%; }

.c5 {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative; }

h2 {
  color: #3a3a3a;
  font-size: 22px;
  padding-right: 30px;
  line-height: 1;
  margin-left: 20px; }

.c5_t li {
  float: left;
  padding: 30px 0 15px 0; }
  .c5_t li a {
    font-size: 16px;
    margin: 0 10px;
    color: #a4a4a4; }
    .c5_t li a:hover {
      color: #ca151d; }
.c5_t .liz {
  float: right;
  margin-right: 20px; }
  .c5_t .liz a {
    font-size: 18px;
    color: #666; }

.c5_b {
  width: 100%;
  overflow: hidden;
  margin: 0 20px; }
  .c5_b ul {
    float: left;
    background: #FFF;
    margin-left: 10px;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -ms-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
    width: 291px;
    height: 346px;
    z-index: 1;
    text-align: center;
    margin-bottom: 10px; }
    .c5_b ul li img {
      width: 134px;
      height: 134px;
      margin: 30px 0; }
    .c5_b ul li h3 {
      font-weight: 400;
      margin: 16px 20px 2px;
      overflow: hidden;
      color: #3a3a3a;
      display: table-cell;
      vertical-align: bottom;
      width: 259px;
      padding-left: 16px;
      padding-right: 16px; }
    .c5_b ul .lia {
      font-size: 12px;
      font-weight: 400;
      margin: 2px 20px 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #a4a4a4; }
    .c5_b ul .lib {
      font-size: 14px;
      font-weight: 400;
      margin: 0 20px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #cc0e11; }
    .c5_b ul:hover {
      -webkit-transform: translateY(-3px);
      -moz-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
      -o-transform: translateY(-3px);
      transform: translateY(-3px); }

.c6, .c7, .c8, .c10, .c12 {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative; }

.c14 {
  padding-bottom: 50px; }

#last {
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  z-index: 421;
  margin: 0px auto; }
  #last .last_t {
    width: 100%;
    overflow: hidden;
    margin: 20px; }
    #last .last_t li {
      float: left;
      line-height: 47px;
      font-size: 18px;
      color: #3a3a3a;
      height: 47px;
      width: 300px;
      text-align: left;
      padding: 30px 0; }
      #last .last_t li span {
        background: url(../img/icon1.png) scroll no-repeat;
        display: inline-block;
        line-height: 47px;
        width: 47px;
        height: 48px;
        margin-right: 16px;
        vertical-align: middle; }
      #last .last_t li .span1 {
        background-position: 0 0; }
      #last .last_t li .span2 {
        background-position: -94px 0; }
      #last .last_t li .span3 {
        background-position: -141px 0; }
      #last .last_t li .span4 {
        background-position: -47px 0; }

.last_b {
  border-top: 1px solid #e8e8e8;
  padding: 26px 0 18px;
  width: 100%;
  overflow: hidden;
  margin: 0 20px; }
  .last_b ul {
    float: left;
    width: 155px; }
    .last_b ul li {
      line-height: 24px; }
      .last_b ul li a {
        color: #666;
        font-size: 12px; }
        .last_b ul li a:hover {
          color: #ca141d; }
    .last_b ul .li_2 {
      font-size: 14px;
      padding-bottom: 12px;
      color: #3a3a3a; }
    .last_b ul .li_1 {
      background: #a8a8a8;
      width: 22px;
      height: 2px;
      margin: 2px 0 12px 0; }
    .last_b ul .li_3 {
      font-size: 24px;
      padding: 0;
      line-height: 24px; }
    .last_b ul .li_4 {
      width: 161px;
      height: 35px;
      padding: 0;
      margin-top: 10px;
      background: #FFF;
      border: 1px solid #ddd;
      font-size: 14px;
      line-height: 35px;
      text-align: center;
      color: #900 !important;
      cursor: pointer;
      -webkit-transition: all .4s;
      transition: all .4s;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .last_b ul .li_4 a i {
        display: inline-block;
        height: 18px;
        width: 24px;
        margin-right: 8px;
        vertical-align: middle;
        background: url(../img/icon2.png) no-repeat -301px 0px; }

#footer {
  width: 100%;
  overflow: hidden;
  background-color: #e6e6e6;
  margin: 0px auto; }
  #footer .f_l {
    float: left;
    margin: 55px 20px 0 20px; }
  #footer .f_c {
    float: left;
    margin: 30px 20px 40px; }
    #footer .f_c li {
      color: #a4a4a4;
      line-height: 20px;
      font-size: 12px; }
      #footer .f_c li a {
        color: #a4a4a4;
        font-size: 12px; }
        #footer .f_c li a:hover {
          color: #ca151d; }
  #footer .f_r {
    float: right;
    margin: 55px 20px 0 20px; }

#hungBar {
  position: fixed;
  right: 10px;
  bottom: 80px;
  width: 48px;
  z-index: 500;
  height: 40px;
  position: relative;
  float: right; }
  #hungBar a {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 0;
    opacity: .7;
    margin: 30px 0; }
    #hungBar a i {
      display: block;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      margin: 8px auto; }

.a01 {
  top: 0;
  right: 0; }
  .a01 i {
    height: 18px;
    width: 18px;
    background: url(../img/icon2.png) no-repeat -150px 0px; }
  .a01:hover .a02, .a01:hover .a03 {
    display: block; }

.a02 {
  top: 0;
  right: 50px;
  display: none; }
  .a02 i {
    background: url(../img/icon2.png) no-repeat -135px 0px;
    height: 17px;
    width: 15px; }

.a03 {
  top: 0;
  right: 100px;
  display: none; }
  .a03 i {
    background: url(../img/icon2.png) no-repeat -120px 0px;
    height: 18px;
    width: 15px; }

/*# sourceMappingURL=shangcheng.css.map */
