@charset "utf-8";
#top{
    width: 100%;
//  overflow: hidden;
    height: 30px;
    line-height: 29px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
//  position: relative;
    z-index: 421;
    margin: 0 auto;
    .div1{
        float: left;
        margin-left: 20px;    
    }
    .div2{
        float: right;
        margin-right: 30px;
    }
    div{
       li{
            float: left;
            padding: 0 10px;
            a{
                color: #8c8c8c;
                border-right: solid 1px #8C8C8C;
                padding-right: 10px;
                &:hover{
                    color: #ca151e;
                }
                span{
                background: url(../img/sprites3.png) no-repeat; 
            top: 50%;
            margin-left: 5px;
            width: 7px;
            height: 4px;
            display: inline-block;
            background-position: -34px 0;
            margin: 0 5px 0 10px;
                }
            }
            
        }
        
        .li1{
            position: relative;
            padding-top: 4px;
            padding-bottom: 4px;
            line-height: 24px;
            
            .ul1{
                width: 90px;
//              overflow: hidden;
                height: 106px;
                display: none;
                position: absolute;
                left: -10px;
                right: 0;
                top: 29px;
                padding: 0 10px;
                background-color: #fff;
                border: 1px solid #ededed;
                border-top-color: #fff;
                li{
                    float: none;
                    a{
                        color: #8c8c8c;
                        font-size: 12px;
                        border: none;
                        &:hover{
                            color: #ca151e;
                        }
                    }
                }
            }
            &:hover{
                .ul1{
                    display: block;
                }
                a{
                   color: #ca151e; 
                   span{
                     background: url(../img/sprites3.png) no-repeat 0px 0px; 
                    width: 7px;
                    height:4px;
//                  background-color: red;
                }
                }
                
            }
        }
    }
}
//          top结束

#head{
    width: 100%;
    overflow: hidden;
//  height: 112px;
//  line-height: 29px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
//  position: relative;
    z-index: 421;
    margin: 0 auto;
    .logo{
        float: left;
        margin-left: 20px;
    }
}


#nav{
    width: 100%;
//  overflow: hidden;
    height: 40px;
//  line-height: 29px;
    background-color: #3a3a3a;
//  position: relative;
    z-index: 421;
    margin: 0 auto;
    li{
        float: left;
        padding: 0 20px; 
//      &:hover{
//          background-color: #313131;
//      }
        a{
            line-height: 40px;
            height: 40px;
            font-size: 14px;
            color: #FFF;
            padding-left: 16px; 
        }
        
    }
    .li2{
        margin-left: 20px;
        background-color: #c81118; 
        width: 200px;
        font-size: 14px;
        color: #FFF;
        line-height: 40px;
        height: 40px;
        position: relative;
        &:hover{
            background: #c81118;
        }
        .na1{
        width: 240px;
        height: 450px;
        position: absolute;
        background-color: #fff;
        border-top: 0 none;
        font-size: 0;
        left: 0px;
//      overflow: hidden;
            ul{
                height: 64px;
                li{
                float: none;
                text-align: left;
                position: relative;
                padding: 0;
                line-height: 20px;
                h3 {
                    height: 20px;
                    a{
                    color: #333;
                    }
                }
                a{
                    color: #8c8c8c;
//                  padding-right:5px; 
                    &:hover{
                            color: #ca151e;
                        }
                    }
                    
                }
                &:hover{
                    background-color: #f7f7f7;
                    .na2{
                        display: block;
                    }
                }
                .na2{
                    display: none;
                    position: absolute;
                    left: 240px;
                    height: 450px;
                    background-color: #f7f7f7;
                    top: 0;
                    width: 440px;
//                  right:20px;
                    ul{
                        li{
                        width: 220px;
                        padding: 0 20px;
                        a{
                            color: #333;
                        }
                        &:hover{
                            background: #eee;
                            a{
                                color: #ca151e;
                                }
                            }
                        }
                    }
                    dl{
                        margin-left: 255px;
                        margin-right: 50px;
                        dt{
                            text-align: center;
//                          margin: 9px 0 15px;
                            background-position: 0 50%;
                            height: 22px;
                            line-height: 0px;
                            background: url("../img/bg63.png") scroll repeat-x;
                            span{
                            color: #8c8c8c;
                            text-align: center;
                            }   
                        }
                        dd a{
                            color: #333;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
//      nav结束

#lunbo{
    width: 1263px;
    height: 450px;
    margin: 0 auto;
}
//      lunbo结束

#content{
    width: 100%;
    overflow: hidden;
    background-color: #F5F5F5;
//  position: relative;
    z-index: 421;
    margin: 0 auto;
    .c1{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        ul{
            margin-top: 10px;
            li{
                float: left;
                margin-left: 20px;
            }
        }
    }
    .c2{
        width: 100%;
        overflow: hidden;
        margin: 0px auto;
        .c2_l{
            float: left;
            margin-left: 20px;
            position: relative;
        }
        h2{
            color: #3a3a3a;
            font-size: 22px;
            padding: 30px 0 15px 0;
            line-height: 1;
            margin-left: 20px;
        }
        .c2_r{
            float: right;
            width: 968px;
            margin-left: 5px;
            ul{
                float: left;
                background: #FFF;
                margin-bottom: 10px;
                margin-left: 10px;
                position: relative;
                -webkit-transition: all .2s linear 0s;
                -moz-transition: all .2s linear 0s;
                -ms-transition: all .2s linear 0s;
                -o-transition: all .2s linear 0s;
                transition: all .2s linear 0s;
                width: 232px;
                height: 290px;
                z-index: 1;
                text-align: center;
                li{
                    img{
                        width: 134px;
                        height: 134px;
                        margin: 30px 0;
                    }
                    h3{
                        font-weight: 400;
                        margin: 16px 20px 2px;
                        overflow: hidden;
                        color: #3a3a3a;
//                      height: 40px;
                        display: table-cell;
                        vertical-align: bottom;
                        width: 259px;
                        padding-left: 16px;
                        padding-right: 16px;
//                      padding-top: 26px; 
                        
                    }
                    
                }
                .lia{
                    font-size: 12px;
                    font-weight: 400;
                    margin: 2px 20px 6px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #a4a4a4; 
                }
                .lib{
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 20px 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #cc0e11;
                }
                &:hover{
                    -webkit-transform: translateY(-3px);
                    -moz-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                    -o-transform: translateY(-3px);
                    transform: translateY(-3px);
                }
            }
            .ul2{
                position: relative;
                p{
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    right: 40px;
                    top: 120px;
                    z-index: 2;
                }
            }
        }
    }
//          热销单品结束


    .c3{
        width: 100%;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
        h2{
            color: #3a3a3a;
            font-size: 22px;
            padding: 30px 0 15px 0;
            line-height: 1;
            margin-left: 20px;   
        }
        .c3_a{
//          margin-left: 20px;
            width: 9999px;
            height: 290px;
            position: relative;
            left:0px;
            ul{
                float: left;
                background: #FFF;
    //          margin-bottom: 10px;
                margin-left: 5px;
//              position: relative;
                -webkit-transition: all .2s linear 0s;
                -moz-transition: all .2s linear 0s;
                -ms-transition: all .2s linear 0s;
                -o-transition: all .2s linear 0s;
                transition: all .2s linear 0s;
                width: 217px;
                height: 290px;
                z-index: 1;
                text-align: center;
                
                li{
                    img{
                        width: 134px;
                        height: 134px;
                        margin: 30px 0;
                    }
                    h3{
                        font-weight: 400;
                        margin: 16px 20px 2px;
                        overflow: hidden;
                        color: #3a3a3a;
    //                      height: 40px;
                        display: table-cell;
                        vertical-align: bottom;
                        width: 259px;
                        padding-left: 16px;
                        padding-right: 16px;
    //                      padding-top: 26px; 
                        
                    }
                    
                }
                .lia{
                    font-size: 12px;
                    font-weight: 400;
                    margin: 2px 20px 6px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #a4a4a4; 
                }
                .lib{
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 20px 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #cc0e11;
                }
                &:hover{
                    -webkit-transform: translateY(-3px);
                    -moz-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                    -o-transform: translateY(-3px);
                    transform: translateY(-3px);
                }
            }
        }
    }
}
.box{
//  position: relative;
    overflow: hidden;
    margin-left: 20px;
    width: 100%;
}
#prev,#next{
    width:23px;
    height: 75px;
    line-height: 75px;
    color: #fff;
//  font-size: 35px;
//  background: rgba(0,0,0,0.5);
    background: #f0f0f0;
    position: absolute;
    top: 50%;
    text-align: center;
    text-decoration: none;
    //              display: none;
        z-index: 999;
        span{
            display: block;
            margin: 28px auto;
            height: 16px;
            width: 11px;
        }
    }
#prev{
    left: 25px;
    span{
        background: url(../img/icon2.png) scroll no-repeat;
        background-position: -71px 0;
    }
}
#next{
    right: 0px;
    span{
        background: url(../img/icon2.png) scroll no-repeat;
        background-position: -82px 0;
    }
}

.c4{
    width: 100%;
    margin-left:20px;
    padding-top: 30px;
//  display: block;
    img{
        width: 100%;
    }
}
.c5{
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    h2{
        color: #3a3a3a;
        font-size: 22px;
        padding-right: 30px;
        line-height: 1;
        margin-left: 20px;   
    }
    .c5_t{
        li{
            float: left;
            padding: 30px 0 15px 0;
            a{
                font-size: 16px;
                margin: 0 10px;
                color: #a4a4a4; 
                &:hover{
                    color: #ca151d;
                }    
            }
        }
        .liz{
            float: right;
            a{
                font-size: 18px;
                color: #666;
            }
        }
    }
}
//.item{
//  position: relative;
//  float: left;
////  width: 107px;
//  height: 55px;
////  padding: 14px 29px;
//  border: 5px solid #f5f5f5;
////  margin-right: 6px;
////  margin-bottom: 7px;
//}
//.bottomline{
//  width: 0;
//  height: 1px;
//  position: absolute;
//  bottom: -1px;
//  left: 0;
//  background: red;
//}
.c5_b{
    width: 100%;
    overflow: hidden;
    margin: 0 20px;
    ul{
                float: left;
                background: #FFF;
    //          margin-bottom: 10px;
                margin-left:10px;
//              position: relative;
                -webkit-transition: all .2s linear 0s;
                -moz-transition: all .2s linear 0s;
                -ms-transition: all .2s linear 0s;
                -o-transition: all .2s linear 0s;
                transition: all .2s linear 0s;
                width: 291px;
                height: 346px;
                z-index: 1;
                text-align: center;
                margin-bottom: 10px;
                
                li{
                    img{
                        width: 134px;
                        height: 134px;
                        margin: 30px 0;
                    }
                    h3{
                        font-weight: 400;
                        margin: 16px 20px 2px;
                        overflow: hidden;
                        color: #3a3a3a;
    //                      height: 40px;
                        display: table-cell;
                        vertical-align: bottom;
                        width: 259px;
                        padding-left: 16px;
                        padding-right: 16px;
    //                      padding-top: 26px; 
                        
                    }
                    
                }
                .lia{
                    font-size: 12px;
                    font-weight: 400;
                    margin: 2px 20px 6px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #a4a4a4; 
                }
                .lib{
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 20px 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #cc0e11;
                }
                &:hover{
                    -webkit-transform: translateY(-3px);
                    -moz-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                    -o-transform: translateY(-3px);
                    transform: translateY(-3px);
                }
            }
}
